---
---

@import "minimal/main";

/* Underwater Effect */
body {
  transition: background-color 3s ease, color 3s ease;
}

body.underwater-active {
  color: #fff;
}

body.underwater-active .blog-index .post-item .post-title a,
body.underwater-active .blog-index .posts-header .digital-clock,
body.underwater-active .blog-index .post-item .post-meta .post-date,
body.underwater-active .pagination a,
body.underwater-active .pagination span {
  color: #fff;
  transition: color 3s ease;
}

body.underwater-active .blog-index .post-item .post-meta .post-date {
  color: #ccc;
}

body.underwater-active .pagination a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body.underwater-active .circles-viewport {
  opacity: 1;
}

.circles-viewport {
  background-color: #2e3f51;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -2; /* Behind everything */
  opacity: 0;
  pointer-events: none;
  transition: opacity 3s ease;
}

.circles-viewport::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #2e4062, transparent 30%);
}

.circle {
  --white: #ccFFFF;
  position: absolute;
  bottom: -50%;
  right: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(farthest-side at top center, 
    #1d40620F 0%, #1d4062c4 40%, #2e4062 100%), 
    conic-gradient(from 90deg at 50% -50vmax, #2e4062 5deg, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062 180deg);
  opacity: 0;
  transform-origin: top center;
  animation: raylight-anim 4s ease 0s normal both infinite running;
}

.circle-2 {
  background: radial-gradient(farthest-side at top center, 
    #1d40620F 0%, #1d4062d4 40%, #2e4062 100%), 
    conic-gradient(from 90deg at 50% -50vmax, #2e4062 5deg, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      #2e4062, var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062 180deg);
  animation: raylight-anim 4s ease 1s normal both infinite running;
}

.circle-3 {
  background: radial-gradient(farthest-side at top center, 
    #1d40620F 0%, #1d4062e4 60%, #2e4062 100%), 
    conic-gradient(from 90deg at 50% -50vmax, #2e4062 5deg, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      #2e4062,  #2e4062, 
      var(--white), var(--white),
      #2e4062, #2e4062,
      var(--white), 
      #2e4062, #2e4062, #2e4062, 
      var(--white), 
      #2e4062, #2e4062, 
      var(--white), var(--white), 
      #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062 180deg);
  animation: raylight-anim 4s ease 2s reverse both infinite running;
}

.circle-4 {
  background: radial-gradient(farthest-side at top center, 
    #1d40620F 0%, #1d4062d4 40%, #2e4062 100%), 
    conic-gradient(from 90deg at 50% -50vmax, #2e4062 5deg, 
      var(--white), 
      #2e4062, #2e4062, #2e4062, 
      var(--white), 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      #2e4062, var(--white), 
      #2e4062, #2e4062, #2e4062, #2e4062, 
      var(--white), 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), 
      #2e4062, #2e4062, #2e4062,  
      var(--white), #2e4062 180deg);
  animation: raylight-anim 4s ease 3s normal both infinite running;
}

.circle-5 {
  --white: #00ffe2;
  background: radial-gradient(farthest-side at top center, 
    #1d40620F 0%, #1d4062d4 50%, #2e4062 70%), 
    conic-gradient(from 90deg at 50% -50vmax, #2e4062 5deg, 
      var(--white), 
      #2e4062, #2e4062, #2e4062, 
      var(--white), 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062,
      var(--white), #2e4062, 
      var(--white), #2e4062, 
      var(--white), #2e4062,
      #2e4062, var(--white), 
      #2e4062, #2e4062, #2e4062, #2e4062, 
      var(--white), 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      #2e4062, #2e4062, 
      var(--white), #2e4062, 
      var(--white), 
      #2e4062, #2e4062, #2e4062,  
      var(--white), #2e4062 180deg);
  animation: raylight-anim-bg 4s ease 0s alternate both infinite running;
}

@keyframes raylight-anim {
  0%   { opacity: 0;   transform: rotateZ(0); }
  50%  { opacity: 0.8; }
  100% { opacity: 0;   transform: rotateZ(-10deg); }
}

@keyframes raylight-anim-bg {
  0%   { opacity: 0.15;   transform: rotateZ(17deg); }
  50%  { opacity: 0; }
  100% { opacity: 0.15;   transform: rotateZ(-10deg); }
}
