.highlight {
  background: #2d2d2d;
  color: #cccccc;
}
.highlight .c {
  color: #999999;
}
.highlight .err {
  color: #cccccc;
}
.highlight .k {
  color: #cc99cc;
}
.highlight .l {
  color: #f99157;
}
.highlight .n {
  color: #cccccc;
}
.highlight .o {
  color: #66cccc;
}
.highlight .p {
  color: #cccccc;
}
.highlight .cm {
  color: #999999;
}
.highlight .cp {
  color: #999999;
}
.highlight .c1 {
  color: #999999;
}
.highlight .cs {
  color: #999999;
}
.highlight .gd {
  color: #f2777a;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gh {
  color: #cccccc;
  font-weight: bold;
}
.highlight .gi {
  color: #99cc99;
}
.highlight .gp {
  color: #999999;
  font-weight: bold;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #66cccc;
  font-weight: bold;
}
.highlight .kc {
  color: #cc99cc;
}
.highlight .kd {
  color: #cc99cc;
}
.highlight .kn {
  color: #66cccc;
}
.highlight .kp {
  color: #cc99cc;
}
.highlight .kr {
  color: #cc99cc;
}
.highlight .kt {
  color: #ffcc66;
}
.highlight .ld {
  color: #99cc99;
}
.highlight .m {
  color: #f99157;
}
.highlight .s {
  color: #99cc99;
}
.highlight .na {
  color: #f2777a;
}
.highlight .nb {
  color: #cccccc;
}
.highlight .nc {
  color: #ffcc66;
}
.highlight .no {
  color: #f2777a;
}
.highlight .nd {
  color: #66cccc;
}
.highlight .ni {
  color: #cccccc;
}
.highlight .ne {
  color: #f2777a;
  font-weight: bold;
}
.highlight .nf {
  color: #f2777a;
}
.highlight .nl {
  color: #cccccc;
}
.highlight .nn {
  color: #ffcc66;
}
.highlight .nx {
  color: #f2777a;
}
.highlight .py {
  color: #cccccc;
}
.highlight .nt {
  color: #66cccc;
}
.highlight .nv {
  color: #f2777a;
}
.highlight .ow {
  color: #66cccc;
}
.highlight .w {
  color: #cccccc;
}
.highlight .mf {
  color: #f99157;
}
.highlight .mh {
  color: #f99157;
}
.highlight .mi {
  color: #f99157;
}
.highlight .mo {
  color: #f99157;
}
.highlight .sb {
  color: #99cc99;
}
.highlight .sc {
  color: #cccccc;
}
.highlight .sd {
  color: #999999;
}
.highlight .s2 {
  color: #99cc99;
}
.highlight .se {
  color: #f99157;
}
.highlight .sh {
  color: #99cc99;
}
.highlight .si {
  color: #f99157;
}
.highlight .sx {
  color: #99cc99;
}
.highlight .sr {
  color: #99cc99;
}
.highlight .s1 {
  color: #99cc99;
}
.highlight .ss {
  color: #99cc99;
}
.highlight .bp {
  color: #cccccc;
}
.highlight .vc {
  color: #f2777a;
}
.highlight .vg {
  color: #f2777a;
}
.highlight .vi {
  color: #f2777a;
}
.highlight .il {
  color: #f99157;
}